.card{
    border-radius: 20px;
    border: 2px solid red ;
    padding: 20px;
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card img{
    max-width: 100%;
}

.labels-container{
    display: flex;
    gap: 10px;
}