section{
    background: #fff;
    min-height: 100vh;

    min-height: calc(100vh - 100px);
    scroll-margin-top: 90px;

    box-shadow: 1px 2px 3px #000000;
}

.content{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content img{
    width: 100px;
}

#meetme img{
    height: 400px;
    border-radius: 10px;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p{
    font-size: 20px;
}
