header{
    background: hsla(195, 76%, 45%, 0.9);
    width: 100%;
    /* border-radius: 20px; */
    position: sticky;
    /* bottom: 10px; */
    top: 5px;
    backdrop-filter:  blur(5px);
    z-index: 100;
}

.menu-label, #menu-toggle{
    display: none;
}

.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 60px;
    background: hsla(220, 4%, 86%, 0.959);
    z-index: 100;
}

.item-menu{
    /* padding: 5px 20px;*/
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
}

.item-menu:hover{
    transition: all 0.3s linear;
    background: #197492;
}

.item-menu img{
    height: 50px;
}

.item-menu a{
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}


@media (max-width: 882px) {

    nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 10px;
    }

    .cross-menu{
        display: none;
    }
    
    #menu-toggle:checked + .navbar-list{
        display: flex;
    }

    .menu-label{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        cursor: pointer;
    }
    
    .img-menu{
        max-width: 100%;
        max-height: 100%;
    }

    .navbar-list{
        top: 45px;
        position: absolute;
        width: 250px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 60px;
        right: 5px;
        border-radius: 10px;
    }

    .item-menu{
        /* padding: 5px 20px;*/
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 180px;
    }


    /*
    #menu-toggle:not(:checked) ~ .menu-label .img-menu {
        display: block; Muestra el img-menu cuando el checkbox no está marcado 
    }
    
    #menu-toggle:checked ~ .menu-label .cross-menu {
        display: block; Muestra el cross-menu cuando el checkbox está marcado
    }
    */



    /*
    .menu-toggle li{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }
    */
}


@media (max-width: 576px){
    

}