header{
    background: hsla(195, 76%, 45%, 0.9);
    width: 90%;
    border-radius: 20px;
    position: sticky;
    /* bottom: 10px; */
    top: 10px;
    backdrop-filter:  blur(5px);
    z-index: 100;
}

.menu-toggle{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px 60px;
    margin: 0 auto;
}

.menu-toggle a{
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
}